version: '3'
networks:
  app-tier:
    driver: bridge
services:
  httpd:
    image: tigerwill90/docker-apache-dev
    container_name: httpd
    ports:
      - 80:80
      - 443:443
    restart: always
    volumes:
      - ./src:/var/www/html/
      - ./logs/apache2:/var/log/apache2
    environment:
      VIRTUAL_HOST: ${VIRTUAL_HOST}
    networks:
      - app-tier
  mysql:
    image: mysql:5.7
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
    ports:
      - 3306:3306
    restart: always
    volumes:
      - ./db/mysql:/var/lib/mysql
    networks:
      - app-tier
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin
    restart: always
    depends_on:
      - mysql
    ports:
      - 8080:80
    environment:
      PMA_HOST: mysql
    networks:
      - app-tier
  memcached:
    image: bitnami/memcached:latest
    container_name: memcached
    ports:
      - 11211:11211
    networks:
      - app-tier
